<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="mobileworld1.Signup"/>
      <class name="mobileworld1.mobileworld"/>
      <class name="mobileworld1.Signin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
